header#main-header{
    background: #ffffff;
    height: 72px;
    border-bottom: 1px solid #ddd
}
header#main-header .header-content{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between  
}

header#main-header .header-content img {
    max-width: 100%;
    border-radius: 5px 5px 0 0 ;
}